
  <!-- TOPBAR -->
  <div class="topbar">
    <div class="topbar-title">✨ESHRAQ</div>

    <div class="nav-actions">
      <button class="menu-btn" (click)="toggleMenu()">
        <span class="material-icons">menu</span>
      </button>
    </div>
  </div>

  <!-- SIDEBAR -->
  <div class="sidebar" [class.open]="menuOpen" (mouseleave)="menuOpen=false">
    <a routerLink="/" (click)="menuOpen=false">
      <span class="material-icons">home</span>
      الرئيسية
    </a>

    <a routerLink="/contact" (click)="menuOpen=false">
      <span class="material-icons">mail</span>
      تواصل معنا
    </a>
  </div>


  <!-- PAGE -->
  <div class="page">
    <router-outlet></router-outlet>
  </div>

  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer-content">

      <div class="footer-col">
        <h3>ESHRAQ</h3>
        <p>منصة تفاعلية لتجربة الجمال بأسلوب حديث واحترافي</p>
      </div>

      <div class="footer-col">
        <h4>روابط</h4>
        <a routerLink="/">الرئيسية</a>
        <a routerLink="/contact">تواصل معنا</a>
      </div>

      <div class="footer-col">
        <h4>تواصل</h4>
        <p>supportsupport&#64;eshraq.com</p>

      </div>

    </div>

    <div class="footer-bottom">
      © ESHRAQ - جميع الحقوق محفوظة
    </div>
  </footer>
