<section class="hero">

  <div class="hero-content">

    <div class="logo">

      <div class="logo-main">
        <span class="logo-en">ESHRAQ</span>
        <span class="shine"></span>
      </div>
      <span class="divider"></span>
     

    </div>
    <h1>
      اختاري مكياجك المثالي بسهولة مع إشراق
    </h1>

    <p>
      نساعدك تحدد الإطلالة الأنسب لك بناءً على إجاباتك وخياراتك
    </p>

    <button class="primary" [routerLink]="['/start']">
      ابدئي الآن
    </button>

  </div>

</section>


<section class="why-eshraq">

<div class="why-image">
  <img src="https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9" />
</div>

<div class="why-text">

  <h2>ليش إشراق؟</h2>

  <p>
    لأننا ما نقدم مجرد مكياج… بل تجربة تفاعلية تفهم ملامحك وتختار لك الأفضل بناءً على بشرتك وأسلوبك
  </p>

<div class="features-grid">

      <div class="mini-card">
        <div class="icon-box">
          <span class="material-icons">auto_awesome</span>
        </div>
        <div>
          <h3>تحليل ذكي دقيق</h3>
          <p>تحليل ملامح البشرة</p>
        </div>
      </div>

      <div class="mini-card">
        <div class="icon-box">
          <span class="material-icons">brush</span>
        </div>
        <div>
          <h3>اقتراحات مخصصة</h3>
          <p>حسب لون بشرتك</p>
        </div>
      </div>

      <div class="mini-card">
        <div class="icon-box">
          <span class="material-icons">flash_on</span>
        </div>
        <div>
          <h3>نتائج فورية</h3>
          <p>بدون انتظار</p>
        </div>
      </div>

      <div class="mini-card">
        <div class="icon-box">
          <span class="material-icons">favorite</span>
        </div>
        <div>
          <h3>تجربة فاخرة</h3>
          <p>ستايل أنثوي راقي</p>
        </div>
      </div>

    </div>

  </div>

</section>


